<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<h1><%= title %></h1>

<form action="/update" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="_csrf" value="<%= csrf %>">
  <input type="hidden" name="_id" value="<%= post._id %>">
  <p>
    <input type="text" name="task" value="<%= post.task %>" size="60">
  </p>
  <p><button type="submit">作成</button></p>
</form>
<p><a href="/">一覧に戻る</a></p>

</body>
</html>

