<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1><%= title %></h1>
	<ul>
	  <% posts.forEach(function(post){ %>
	    <li>
      <form action="/destroy" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="_csrf" value="<%= csrf %>">
        <input type="hidden" name="_id" value="<%= post._id %>">
        <input type="checkbox">
        <a href="/edit/<%= post._id %>"><%= post.task %></a>
        <button type="submit" onclick="return confirm('削除してもよろしいでしょうか？');">削除</button>
      </form>
    </li>
  <% }) %>
</ul>

<p><a href="/new">タスク追加</a></p>

</body>
</html>
